@tailwind base;
@tailwind components;
@tailwind utilities;


.react-time-picker {
  display: inline-flex;
  width: auto !important;
  font-family: inherit;
}

.react-time-picker__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 6px;
  background-color: #fff;
  gap: 4px;
}

.react-time-picker__inputGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.react-time-picker__inputGroup__input {
  width: 3rem !important;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  color: #000 !important;
  font-size: 16px;
  background-color: #fff;
  -moz-appearance: none;
  appearance: none;
}


.react-time-picker__inputGroup__divider {
  padding: 0 2px;
}

.react-time-picker__amPm {
  padding: 0 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #000 !important;
}

.react-time-picker__clock-button {
  display: block !important;
  margin-left: 4px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.react-time-picker__button__icon {
  width: 16px;
  height: 16px;
}
